<h1><%= t "subject.edit.title" %></h1>

<%= render "form", subject: @subject %>

<%= link_to t("subject.edit.title"), admin_subject_path %> |
<%= link_to t("subject.edit.title"), admin_subjects_path %>
