<%- if devise_mapping.registerable? &&
  controller_name != t("layouts.users") %>
  <div style="margin-top: 20px; font-weight: bold;">
    <%= link_to t("users.signup"),
      new_registration_path(resource_name) %><br />
  </div>
<% end -%>
