<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= t "edit" %></h2>
</div>

<%= render "form", chapter: @chapter, subject: @subject , question: @question,
  answer: @answer %>

<%= link_to t("back"),
  admin_subject_chapter_question_answers_path(@subject, @chapter, @question),
    class: "btn btn-default" %>
