<h1><%= t "answer.new" %></h1>

<%= render "form", chapter: @chapter, subject: @subject, question: @question,
  answer: @answer %>

<%= link_to t("subject.edit.back"),
  admin_subject_chapter_question_answers_path(subject_id: @subject.id,
  chapter_id: @chapter.id, question_id: @question.id) %>
