<h1><%= t "chapter.edit.title" %></h1>

<%= render "form", chapter: @chapter, subject: @subject, question: @question %>

<%= link_to t("chapter.edit.back"),
  admin_subject_chapter_questions_path(@subject, @chapter) %>
