<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= @subject.name %></h2>
</div>
<p>
  <strong><%= @subject.content %></strong>
</p>
<%= render @subject.chapters, subject: @subject %>
<br/>
<%= link_to t("back"), subjects_path, class: "btn btn-info" %>
