<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= @subject.name %></h2>
</div>
<ul>
  <% @chapters.each do |chapter| %>
    <li style="font-size: 24px;"><%= chapter.name %></li>
    <ul>
      <li><%= chapter.content %></li>
    </ul>
  <% end %>
</ul>
<br/>
<%= link_to t("back"), subject_path(@subject),
  class: "btn btn-info" %>
<br/>
