<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= @chapter.name %></h2>
</div>
<p>
  <strong><%= @chapter.content %></strong>
</p>
<% if user_signed_in? %>
  <%= link_to t("chapters.test"), "#", class: "btn btn-success" %>
<% end %>
<%= link_to t("back"), subject_path(@subject),
  class: "btn btn-default" %>
